*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #F7F7FF;
  background-color: #87BCDE;
}

nav{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 1% 0;
  background-color: #87BCDE;
}

header{
  padding: 12% 0;
}

section{
  width: 100%;
  padding: 7.5% 0;
  background-color: #2D2D2A;
}

section:nth-child(even){
  width: 100%;
  background-color: #3C7A89;
}

p{
  padding: 0 5%;
}

a{
  text-decoration: none;
  color: #F7F7FF;
}

.name{
  display: inline;
  text-align: left;
  padding: 0 1%;
  font-size: 32px;
  left: 5;
}

.links{
  text-align:right;
  display: inline;
}

.link{
  display: inline-block;
  text-align: right;
}

.project-name{
  display: inline;
  text-align: left;
  padding-left: 3%;
}

.Project{
  height: 100%;
  width: 100%;
  padding: 10px 10px;
}

.Project:nth-child(even){
  background-color: #3C7A89;
}

.grid-container{
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto auto;
}

.grid-container i{
  font-size: 250%;
}

.grid-item{
  padding: 5% 0;
}

img{
  width: 95%;
  height: auto;
}

ul{
  padding: 0;
  list-style: none;
}