<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
		<title>Eddie Bueno's Website</title>


<!-- Bootstrap -->
    	<link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet">

	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="bg-dark collapse" id="navbarHeader">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 py-4">
							<h4 class="text-white">About</h4>
							<p class="text-muted">My name is Eddie Bueno. More informtion is to come.</p>
						</div>
						<div class = "col-sm-4 py-4">
							<h4 class="text-white">Contact</h4>
							<ul class="list-unstyled">
								<li><a href="facebook.com/eddiebueno" class="text-white">Facebook</a></li>
								<li><a href="linkedin.com/in/eddiebueno" class="text-white">LinkedIn</a></li>
								<li><a href="twitter.com/eddie_in_tech" class="text-white">Twitter</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar navbar-dark bg-dark">
				<div class="container d-flex justify-content-between">
					<a href="/" class="navbar-brand">EB</a>
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapsed" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
		</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/javascripts/bootstrap.min.js"></script>

  	</body>
</html>